.box{
	width: 500px;
	height: 80px;
	margin: 5px auto;
	margin-left: 10px;
	padding: 20px;
	background-image: url(../../img/bg_line.gif);

	background-color:rgb(246, 209, 246);
	background-repeat: repeat-x;
	background-position: left bottom ;
	font-size: 16px;
}
h1{
	padding-left: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 18px;
	font-weight: 700;
	background-image: url(../../img/bg_bul.gif);
	background-repeat: no-repeat;
	background-position: 10px center;
}